<template>
  <div class="inspection">
    <el-row>
      <el-col style="text-align:left;">
       <el-form size="mini" :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="巡检任务名">
          <el-input v-model="formInline.name" placeholder="巡检任务名"></el-input>
        </el-form-item>
        <el-form-item label="管理单位">
          <el-select v-model="formInline.company" placeholder="请选择巡检单位">
            <el-option v-for="(item,index) in companyList" :key="index" :label="item.cdmc" :value="item.cdmc"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="巡检区域">
          <el-select v-model="formInline.domain" placeholder="请选择巡检范围">
            <el-option v-for="(item,index) in domainList" :key="index" :label="item.cdmc" :value="item.cdmc"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
      </el-form>
      </el-col>
    </el-row>
     <el-table
      :data="tasklist"
      border
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="rwid"
        label="序号">
      </el-table-column>
      <el-table-column
        prop="xjrwmc"
        label="巡检任务名">
      </el-table-column>
      <el-table-column
        prop="xjryname"
        label="巡检人员">
      </el-table-column>
      <el-table-column
        prop="xjzq"
        label="巡检周期/天">
      </el-table-column>
      <el-table-column
        prop="xjkssj"
        label="巡检开始时间">
      </el-table-column>
       <el-table-column
        prop="xjfw"
        label="巡检区域">
      </el-table-column>
      <el-table-column
        label="操作">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="medium"><i class="el-icon-view" /></el-button>
          <!-- <el-button @click="handleEdit(scope.row)" type="text" size="medium"><i class="el-icon-edit"/></el-button>
          <el-button @click="deleteTask(scope.row)" type="text" size="medium"><i class="el-icon-delete"/></el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <!-- <el-row class="new-task">
      <el-col>
        <el-button type="primary" size='mini' @click="onlyLook = false; edit = false; dialogFormVisible = true">新建巡检任务</el-button>
      </el-col>
    </el-row> -->
    <el-dialog :title="title" :visible.sync="dialogFormVisible">
      <el-form size="mini" :model="taskNewForm" ref="taskNewForm" label-width="120px" class="new-task-form">
        <el-form-item class="left" label="巡检任务名称" prop="xjrwmc">
          <el-input :disabled="onlyLook" v-model="taskNewForm.xjrwmc"></el-input>
        </el-form-item>
        <el-form-item class="left" label="设定巡检时间" prop="xjkssj">
          <el-date-picker :disabled="onlyLook"
            v-model="taskNewForm.xjkssj"
            type="datetime"
            start-placeholder="巡检时间">
          </el-date-picker>
        </el-form-item>
         <el-form-item class="left" label="设定巡检周期" prop="xjzq">
          <el-input :disabled="onlyLook" v-model="taskNewForm.xjzq"></el-input>
        </el-form-item>
        <el-form-item class="left" label="设定巡检人员" prop="user">
          <el-row>
            <el-col :span="12">
              <el-form-item label="巡检单位" prop="xjdw">
                <el-select :disabled="onlyLook" v-model="taskNewForm.xjdw" placeholder="请选择巡检单位">
                  <el-option v-for="(item,index) in companyList" :key="index" :label="item.cdmc" :value="item.cdmc"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="巡检人员" prop="xjryid">
                <el-select :disabled="onlyLook" v-model="taskNewForm.xjryid" placeholder="请选择巡检人员">
                  <el-option v-for="(item,index) in userList" :key="index" :label="item.name" :value="item.xjyid"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- <el-row>
            <el-col>巡检人员信息</el-col>
          </el-row> -->
          <!-- <el-row>
            <el-col :span="12">姓名：{{taskNewForm.user.name}}</el-col>
            <el-col :span="12">联系电话：{{taskNewForm.user.phone}}</el-col>
          </el-row> -->
        </el-form-item>
        <el-form-item class="left" label="巡检范围选择" prop="xjfw">
          <el-select :disabled="onlyLook" v-model="taskNewForm.xjfw" placeholder="请选择巡检范围">
            <el-option v-for="(item,index) in domainList" :key="index" :label="item.cdmc" :value="item.cdmc"></el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item class="left" label="巡检任务类型" prop="type">
          <el-radio-group v-model="taskNewForm.type">
            <el-radio :disabled="onlyLook" label="设备巡检任务"></el-radio>
          </el-radio-group>
          <el-row>
            <el-col>
              <el-form-item label="巡检范围选择" prop="xjfw">
                <el-select :disabled="onlyLook" v-model="taskNewForm.xjfw" placeholder="请选择巡检范围">
                  <el-option v-for="(item,index) in domainList" :key="index" :label="item.name" :value="item.id"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form-item> -->
        <el-form-item v-show="!onlyLook">
          <el-button type="primary" @click="submitForm()">{{edit ? '更新' : '创建'}}</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Inspection',
  data() {
    return {
      dialogFormVisible: false,
      taskNewForm: {
        xjrwmc: '',
        xjkssj: '',
        xjryid: '',
        xjdw: '',
        xjzq: '',
        xjfw: ''
      },
      formInline: {
        name: '',
        company:'',
        domain:''
      },
      companyList: [],
      domainList: [],
      userList: [],
      tableData: [],
      onlyLook: false,
      edit: false
      };
  },
  methods: {
    submitForm() {
      if (this.edit) {
        this.$http.post('/api/xjrw/editXjrw', {...this.taskNewForm, IS_FORMDATA: true}).then(res => {
          this.dialogFormVisible = false;
          this.$http.get('/api/xjrw/queryXjrw').then(res => {
            this.tableData = res.data.result.xjrwlist;
          });
        });
      } else {
        this.$http.post('/api/xjrw/addXjrw', {...this.taskNewForm, IS_FORMDATA: true}).then(res => {
          this.dialogFormVisible = false;
          this.$http.get('/api/xjrw/queryXjrw').then(res => {
            this.tableData = res.data.result.xjrwlist;
          });
        });
      }
    },
    deleteTask(row) {
      this.$http.get('/api/xjrw/deleteXjrw?rwid=' + row.rwid).then(res => {
        this.$http.get('/api/xjrw/queryXjrw').then(res => {
          this.tableData = res.data.result.xjrwlist;
        });
      });
    },
    handleClick(row) {
      this.onlyLook = true;
      this.dialogFormVisible = true;
      this.taskNewForm = row;
    },
    handleEdit(row) {
      this.onlyLook = false;
      this.edit = true;
      this.dialogFormVisible = true;
      this.taskNewForm = row;
    },
    onSubmit() {
      let query = '?xjrwmc=' + this.formInline.name + '&xjdw=' + this.formInline.company + '&xjfw=' + this.formInline.domain;
      this.$http.get('/api/xjrw/queryXjrw' + query).then(res => {
        this.tableData = res.data.result.xjrwlist;
      });
    }
  },
  computed: {
    title() {
      return this.onlyLook ? '查看巡检任务' : (this.edit ? '编辑巡检任务' : '新建巡检任务');
    },
    tasklist() {
      return this.tableData.filter((row) => {
        return row.sfwc === '1';
      })
    }
  },
  created() {
    this.$http.get('/api/xjrw/queryXjrw').then(res => {
      this.tableData = res.data.result.xjrwlist;
    });
    this.$http.get('/api/xjy/getXjy').then(res => {
      this.userList = res.data.result.xjy;
    });
    this.$http.get('/api/dic/getDic?dicBh=XJDW').then(res => {
      this.companyList = res.data.result.dics;
    });
    this.$http.get('/api/dic/getDic?dicBh=XCFW').then(res => {
      this.domainList = res.data.result.dics;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
 .inspection {
   .el-table {
     .cell .el-button--text {
       color: #4584fb;
       margin-right:10px;
     }
   }
   .new-task {
     margin-top:8px;
     text-align: right;
   }
   .new-task-form{
     .el-form-item.left {
       .el-form-item__content{
          text-align: left;
        }
     }
   }
 }
</style>
