<template>
  <div class="login">
     <el-row>
       <el-col :span="8" :offset="8">
         <el-input placeholder="用户名" v-model="loginName">
          </el-input>
          <el-input placeholder="密码" type="password" v-model="password">
          </el-input>
          <el-button type="primary" @click="login">登陆</el-button>
       </el-col>
     </el-row>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
export default {
  name: 'Login',
  data() {
    return {
      loginName:'',
      password:'',
      hasLogin: false
    }
  },
  methods: {
    login() {
      this.$http.get('/api/authen/getToken?userName=' + this.loginName +'&password=' + this.password).then((res) => {
        console.log(this.loginName, this.password);
        Cookies.set('token', res.data.result.token);
        this.$router.push({name:'inspection', params: {username: this.loginName}});
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
html, body{
  .login {
    height: 100%;
    width: 100%;
    background-image: url('../../public/image/login-bg.jpg');
    padding-top: 150px;
    .el-row {
      .el-col {
        background-color: white;
        height:250px;
        padding:30px 20px;
        border-radius: 5px;
        .el-input{
          margin-bottom:20px;
        }
      }
    }
  }
}
</style>
