<template>
  <div class="notelist">
    <el-row class="new-note">
      <el-col>
        <el-button type="primary" size='mini' @click="dialogFormVisible = true">新建公告</el-button>
      </el-col>
    </el-row>
     <el-table
      :data="tableData"
      border
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="ggid"
        label="序号">
      </el-table-column>
      <el-table-column
        prop="title"
        label="名称">
      </el-table-column>
      <el-table-column
        prop="content"
        label="内容">
      </el-table-column>
    </el-table>
    <el-dialog title="新建公告" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="公告名称" label-width="150">
          <el-input v-model="form.title" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="公告内容" label-width="150">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入内容"
            v-model="form.content">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'NoteList',
  data() {
    return {
      dialogFormVisible: false,
      form: {
        title: '',
        content: ''
      },
      tableData: []
    };
  },
  methods: {
    submitForm() {
      let str = '?title=' + this.form.title + '&content=' + this.form.content;
      this.$http.get('/api/gg/addGg' + str).then(() => {
        this.dialogFormVisible = false;
        this.$http.get('/api/gg/queryGg').then(res => {
          this.tableData = res.data.result.gglist;
        })
      })
    }
  },
  created() {
    this.$http.get('/api/gg/queryGg').then(res => {
      this.tableData = res.data.result.gglist;
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
 .notelist {
   .el-table {
     .cell {
       white-space: nowrap;;
       overflow: hidden;
       text-overflow: ellipsis;
     }
     .cell .el-button--text {
       color: #4584fb;
       margin-right:10px;
     }
   }
   .new-note {
     margin-bottom: 10px;
     text-align: left;
   }
 }
</style>
