<template>
  <div class="reportlist">
    <el-row class="new-report">
      <el-col>
        <el-button type="primary" size='mini' @click="ifNewReport = true; dialogFormVisible = true">新建报告单</el-button>
      </el-col>
    </el-row>
     <el-table
      :data="tableData"
      border
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="xjbgid"
        label="序号">
      </el-table-column>
      <el-table-column
        prop="sbmc"
        label="设备名称">
      </el-table-column>
      <el-table-column
        prop="sbszqy"
        label="设备所在区域">
      </el-table-column>
      <el-table-column
        prop="sbzt"
        label="设备状态">
      </el-table-column>
      <el-table-column
        prop="jcsj"
        label="检查时间">
      </el-table-column>
       <el-table-column
        prop="jcrname"
        label="检查人">
      </el-table-column>
      <el-table-column
        label="操作">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="medium"><i class="el-icon-view" /></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :title="title" :visible.sync="dialogFormVisible">
      <el-form size="mini" :model="taskNewForm" ref="taskNewForm" label-width="120px" class="new-task-form">
        <el-form-item class="left" label="巡查任务" prop="xjrwid">
          <el-select v-model="taskNewForm.xjrwid" placeholder="请选择区域" :disabled="!ifNewReport">
            <el-option v-for="(item,index) in taskList" :key="index" :label="item.xjrwmc" :value="item.rwid"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="left" label="设备名称" prop="sbmc">
          <el-input v-model="taskNewForm.sbmc" :disabled="!ifNewReport"></el-input>
        </el-form-item>
        <el-form-item class="left" label="设备所在区域" prop="sbszqy">
          <el-select v-model="taskNewForm.sbszqy" placeholder="请选择区域" :disabled="!ifNewReport">
            <el-option v-for="(item,index) in domainList" :key="index" :label="item.cdmc" :value="item.cdmc"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="left" label="设备状态" prop="sbzt">
          <el-select v-model="taskNewForm.sbzt" placeholder="请选择设备状态" :disabled="!ifNewReport">
            <el-option v-for="(item,index) in statusList" :key="index" :label="item.value" :value="item.value"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="left" label="检查时间" prop="jcsj">
          <el-date-picker :disabled="!ifNewReport"
            v-model="taskNewForm.jcsj"
            type="datetime"
            placeholder="选择时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item class="left" label="检查人" prop="jcrid">
          <el-select v-model="taskNewForm.jcrid" placeholder="请选择检查人员" :disabled="!ifNewReport">
            <el-option v-for="(item,index) in userList" :key="index" :label="item.name" :value="item.xjyid"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="ifNewReport" class="left" label="图片上传" prop="fileList">
           <el-upload
            class="upload-demo"
            action="/api/fileupload/fileupload"
            multiple
            :on-success="handleImage"
            :limit="1"
            :file-list="fileList">
            <el-button size="mini" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-form-item>
        <el-form-item v-if="!ifNewReport" class="left" label="图片展示" prop="image">
           <img style="max-width:400px;" :src="imageUrl">
        </el-form-item>
        <el-form-item v-show="ifNewReport">
          <el-button type="primary" @click="submitForm()">创建</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Inspection',
  data() {
    return {
      fileList: [],
      dialogFormVisible: false,
      taskNewForm: {
        sbmc: '',
        sbszqy: '',
        sbzt: '',
        jcsj: '',
        jcrname: '',
        image: '',
        jcrid: '',
        xjrwid: ''
      },
      statusList: [{
        value:'正常',
      },{
        value:'故障',
      }],
      companyList: [],
      domainList: [],
      userList: [],
      tableData: [],
      taskList: [],
      ifNewReport: true,
      image:'',
      imageUrl:''
      };
  },
  computed: {
    title() {
      return this.ifNewReport ? '新建报告单' : '查看报告单';
    }
  },
  methods: {
    submitForm() {
      let obj = this.taskNewForm;
      obj.image = this.image;
      let arr = this.userList.filter((row) => {
        return obj.jcrid === row.xjyid
      });
      obj.jcrname = arr && arr[0] && arr[0].name;
      obj['IS_FORMDATA'] = true;
      this.$http.post('/api/jcbg/addJcbg',obj).then(res => {
        this.dialogFormVisible = false;
        this.$http.get('/api/jcbg/queryJcbg').then(res => {
          this.tableData = res.data.result.jcbglist;
        });
      });
    },
    handleImage(file, fileList) {
      this.image = file.result.path;
    },
    handleClick(row) {
      this.dialogFormVisible = true;
      this.taskNewForm = row;
      this.imageUrl = '/api/fileupload/showfile?path=' + row.image
      this.ifNewReport = false;
    }
  },
  created() {
    this.$http.get('/api/jcbg/queryJcbg').then(res => {
      this.tableData = res.data.result.jcbglist;
    });
    this.$http.get('/api/xjy/getXjy').then(res => {
      this.userList = res.data.result.xjy;
    });
    this.$http.get('/api/dic/getDic?dicBh=XJDW').then(res => {
      this.companyList = res.data.result.dics;
    });
    this.$http.get('/api/dic/getDic?dicBh=XCFW').then(res => {
      this.domainList = res.data.result.dics;
    });
    this.$http.get('/api/xjrw/queryXjrw').then(res => {
      this.taskList = res.data.result.xjrwlist;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
 .reportlist {
   .el-table {
     .cell .el-button--text {
       color: #4584fb;
       margin-right:10px;
     }
   }
   .new-report {
     margin-bottom:8px;
     text-align: right;
   }
   .new-task-form{
     .el-form-item.left {
       .el-form-item__content{
          text-align: left;
        }
     }
   }
 }
</style>
