<template>
  <div class="userlist">
     <el-table
      :data="tableData"
      border
      size="mini"
      style="width: 100%">
      <el-table-column
        prop="xjrid"
        label="序号">
      </el-table-column>
      <el-table-column
        prop="xjrname"
        label="姓名">
      </el-table-column>
      <el-table-column
        prop="qddd"
        label="签到地址">
      </el-table-column>
      <el-table-column
        label="是否签到">
        <template slot-scope="scope">
          <!-- <span>{{scope.row.sign ? '已签到' : '未签到'}}</span> -->
          <span>已签到</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="qdsj"
        label="签到时间">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: 'UserList',
  data() {
    return {
      tableData: []
      };
  },
  methods: {},
  created() {
    this.$http.get('/api/qd/queryQiandao').then(res => {
      this.tableData = res.data.result.qiandaolist;
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
 .userlist {
   .el-table {
     .cell .el-button--text {
       color: #4584fb;
       margin-right:10px;
     }
   }
 }
</style>
